<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title || "Middleman" %></title>
  <!-- jquery goes first to work properly -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
  <!-- Include Font Awesome -->
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  <!-- Latest compiled and minified JavaScript -->

</head>

<body>
  <%= partial "partials/nav" %>
  <div class="main">
   <%= yield %>
  </div>
<!--  <footer>
<%= partial "partials/footer" %>
</footer> -->
</body>

</html>
