---
title: Kikluz's Blog
---


<div class="hero-image">
  <div class="hero-text">
    <h1>I am John Doe</h1>
    <p>And I'm a Photographer</p>
    <button>Hire me</button>
  </div>
</div>
<br>
<div class="container role">

  <article class="article">
    <h1>Welcome</h1>
    <%= image_tag 'catman.jpg' %>
    <p>
      I build static websites 
      with an easy-to-use framework
      Middleman is a static site generator using all the shortcuts and tools in modern web development.
    </p>
    <p><strong>Easy and Fast!</strong></p>
  </article>
</div>

