
html {
  height: 100%;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,§-serif !important;
}
.nav-list {
  padding: 0.4em;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

///------------------------------------------
///  hero unit image
///------------------------------------------


/* The hero image */
.hero-image {
    /* The image used */
    // background: url(../source/images/catman.jpg);

    background-image: url('../images/catman.jpg');
    
    // background: url('images/catman.jpg');
    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}